@font-face {
    font-family: 'Yahoo-Sans';
    src: url('https://s.yimg.com/cv/apiv2/default/yahoo/oot/assets/fonts/Yahoo-Sans-Regular.eot')
            format('embedded-opentype'),
        url('https://s.yimg.com/cv/apiv2/default/yahoo/oot/assets/fonts/Yahoo-Sans-Regular.woff2')
            format('woff2'),
        url('https://s.yimg.com/cv/apiv2/default/yahoo/oot/assets/fonts/Yahoo-Sans-Regular.ttf')
            format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Yahoo-Sans';
    src: url('https://s.yimg.com/cv/apiv2/default/yahoo/oot/assets/fonts/Yahoo-Sans-Bold.eot')
            format('embedded-opentype'),
        url('https://s.yimg.com/cv/apiv2/default/yahoo/oot/assets/fonts/Yahoo-Sans-Bold.woff')
            format('woff'),
        url('https://s.yimg.com/cv/apiv2/default/yahoo/oot/assets/fonts/Yahoo-Sans-Bold.ttf')
            format('truetype');
    font-weight: 700;
    font-style: normal;
}

body,
main {
    font-family: 'Yahoo-Sans', Arial, Helvetica, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* Style  */
a {
    text-decoration: none;
    cursor: pointer;
}

.align-center {
    display: block;
    margin: 0 auto;
}

.heading {
    font-size: 40px;
    margin: 0;
    padding-bottom: 20px;
    color: #10d3cb;
}

.heading2 {
    font-size: 36x;
    margin: 0;
    padding: 40px 0 10px 0;
}

.paragraph {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 25px;
}

@media (min-width: 768px) {
    .heading {
        font-size: 75px;
        padding-bottom: 25px;
    }

    .heading2 {
        font-size: 55px;
        padding: 60px 0 20px 0;
    }
    .paragraph {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 45px;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.no-gutters > .col,
.no-gutters > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

/* Utility  */
.il2293 .aspect-16-9 {
    position: relative;
    background: #000;
    padding-top: 28.125%;
    padding-bottom: 28.125%;
    overflow: hidden;
    height: 0;
}
.il2293 .aspect-16-9 iframe,
.il2293 .aspect-16-9 object,
.il2293 .aspect-16-9 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile {
    display: block;
}
.desktop {
    display: none;
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

.il2293 .nav-container {
    background: #3b8df2;
}

.il2293 .nav-container nav a {
    color: #fff;
}

.il2293 .nav-container nav a.nav-logo {
    font-weight: 600;
    font-size: 28px;
}
.il2293 .nav-container nav a.nav-logo img {
    max-height: 30px;
    height: 100%;
}

.il2293 header {
    background: transparent;
    height: 190px;
    position: relative;
    margin-bottom: 480px;
    padding-top: 40px;
}

.il2293 header::after {
    background: #3b8df2;
    bottom: -200px;
    content: '';
    display: block;
    height: 5350px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-16deg);
    transform-origin: 50% 100%;
    z-index: -1;
}

.il2293 .card-hunt {
    transition: 0.5s;
}

.il2293 .card-hunt:hover {
    /* box-shadow: 1px 2px 8px 2px #333; */
    transform: scale(1.05);
}

.il2293 .testimonials {
    text-align: center;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 768px) {
    .il2293 .testimonials {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.il2293 .testimonial {
    color: #333;
    text-decoration: none;
    text-align: left;
    width: 243px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
}

.il2293 .testimonials .testimonial .stars {
    color: #f9a801;
    margin: 5px 0;
}

.il2293 .testimonials .testimonial .byline {
    color: #999;
    font-size: 0.89em;
}

.il2293 .testimonials .testimonial:hover,
.il2293 .testimonials .testimonial:hover .stars,
.il2293 .testimonials .testimonial:hover .byline {
    background: #3b8df2;
    color: #fff;
}

.il2293 #faq {
    width: 100%;
}

/* footer */
footer {
    background-color: #1e0141;
    height: 100px;
    position: relative;
    text-align: center;
    color: #fff;
}
footer .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
footer a {
    color: #fff;
}
